@inherits LayoutComponentBase

<PageTitle>dbc_Dave</PageTitle>

<div class="page">
@*    <div class="sidebar">
        <NavMenu />
    </div>*@

    <main class="background">
        <nav class="navbar navbar-expand" aria-label="navbar">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-lg-end">
                    <LoginDisplay />
                </div>
            </div>
        </nav>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
