Here is a more modern CSS style sheet with pleasing colors:

@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Kumbh Sans', sans-serif !important;
    font-size: 14px;
    color: #646363;
    height: 100%;
}
p {
    font-family: 'Kumbh Sans', sans-serif !important;
    margin-bottom: -1rem;
}

:focus-visible {
    outline: none;
}



.bg-primary {
    background-color: #6fbfd9 !important;
    color: white;
}

.btn-primary {
    color: #fff;
    background-color: #6fbfd9;
    border-color: #1861ac;
    font-family: 'Press Start 2P'
}
.btn-primary:hover {
    background-color: black;
}
    .btn-primary:active {
        background-color: black;
    }

    .btn-primary:focus {
        background-color: black;
    }
    .btn-primary:active {
        background-color: #6fbfd9;
    }
.btn-danger {
    font-family: 'Press Start 2P';
    font-size: .8em;
}

.content {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 50px #d5d2d2;
    min-width: 1080px;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/*chat message log*/
.chat-message {
    border-bottom: 1px solid lightgrey;
    display: flex;
    flex-direction: row;
    padding: 12px 18px;
    align-items: flex-start;
}

    .chat-message:hover .chat-message-content {
        background-color: #F7F7F8;
        border: 1px solid lightgrey;
        outline: none;
    }

    .chat-message:hover {
        background-color: #F7F7F8 !important;
        cursor: pointer;
    }

.chat-message-content:hover {
    cursor: pointer;
}


textarea:focus {
    box-shadow: 0 0 0.75rem #26b05075 !important;
    background-color: white !important;
    border-width: 5px;
    border-style: dashed;
    border-color: #26b050;
}

textarea:blur {
    box-shadow: none;
    border: none;
}

textarea::placeholder {
    font-style: italic;
    font-size: 12px;
}

textarea:focus::placeholder {
    color: transparent;
}

/*end chat message log*/

.btn-col, .label-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    align-self: flex-start;
}

.chat-role-label {
    cursor: auto;
    background-color: inherit;
    border: none;
    width: 90px;
    margin-bottom: 30px;
}

.ask-question-label {
    cursor: auto;
    border: none;
    width: 90px;
}

.input-container {
    padding-left: 10px;
    flex-grow: 1;
}

.input-container-full-width {
    width: 100%;
    margin-left: 10px;
}

.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.toggle-role-section {
    display: flex;
    margin-bottom: 10px;
    margin-top: auto;
    flex-grow: 1; 
}

    .toggle-role-section .label-col {
        margin-right: 10px;
    }

    .toggle-role-section .input-container {
        padding-left: 10px;
        flex-grow: 1;
    }

    .toggle-role-section .chat-message-content {
        border: none;
        padding: 0;
        resize: none;
        overflow: hidden;
    }

.add-question {
    padding: 5px;
    resize: none;
    margin-right: 5px;
    color: #a0a0a0;
    height: 120px;
    padding-bottom: 20px;
}

.toggle-role-section .btn {
    margin-right: 10px;
}

.form-control {
    margin-bottom: 10px;
    color: #646363;
    border-width: 5px;
    border-style: dashed;
    border-color: rgb(163 163 163 / 67%);   

}

.btn-remove {
    color: #a3a3a3;
    font-size: 30px;
    border: none;
    background: none;
    right: 5px;
    top: 5px;
}

.btn-user {
    font-family: 'Press Start 2P';
    color: #00000000;
    font-size: .8em;
    background-image: url(../assets/user.png);
    background-size: 72px;
    height: 100px;
    background-repeat: no-repeat;
    overflow: visible; /* Enable overflow to allow text to go outside the boundary */
    margin-bottom: -25px;
    padding: 1.5rem 1rem; /* Adjust padding as needed */
}

    .btn-user:hover {
        color: #2b2a2a;
        background-color: #fff;
        border-color: none;
    }

    .btn-user:focus {
        color: #00000000;
        background-color: #fff;
    }
    .btn-user:active {
        color: #00000000;
    }

.btn-cancel {
    background-color: silver;
    margin-left: 20px;
    margin-bottom: 20px;
    font-family: 'Press Start 2P';
    font-size: 1.4em;
}
.btn-assistant {
    font-family: 'Press Start 2P';
    color: #00000000;
    font-size: .8em;
    background-image: url(../assets/tdave.png);
    background-size: 72px;
    height: 100px;
    background-repeat: no-repeat;
    overflow: visible; /* Enable overflow to allow text to go outside the boundary */
    margin-bottom: -25px;
}


    .btn-assistant:hover {
        color: #fff;
    }

    .btn-assistant:focus  {
        color: #fff;
        border:none;
    }
    .btn-assistant:active {
        color: #00000000;
    }
.btn-check:focus + .btn, .btn:focus {
    outline: 0;
    box-shadow: none;
}

.btn-system {
    color: #000;
    background-color: lightgray;
}

.btn-add {
    color: #fff;
    background-color: #6c6c6c;
    margin: 0px 5px 10px 5px;
}

.btn-danger {
    margin-bottom: 30px;
}

.center {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
}

.right {
    flex-basis: 35%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    column-gap: 8px;
}

img .info {
    font-size: 16px;
    font-weight: 500;
}

img .pfp {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}


.btn-copy {
    background-color: grey;
    color: white;
}

.copy-code-container {
    position: relative;
}

.copy-code-button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: rgba(200, 200, 200, 0.5);
    color: white;
    padding: 4px 8px;
    border-radius: 2px;
    cursor: pointer;
}

    .copy-code-button:hover {
        background: rgba(0, 0, 0, 0.8);
    }

.top-bar {
    display: flex;
    flex-flow: row;
    width: 100%;
    min-width: 1080px;
    color: #b6b6b6;
    justify-content: space-between;
    min-height: 32px;
}

.top-row {
    height: 190px !important;
    background-color: #f3f3f2 !important;
    border-bottom: none !important;
    position: unset !important;
    padding: 0px;
}


.page-title {
    color: #d40000;
    font-size: 21px;
    font-weight: 500;
    font-family: font-family: 'Kumbh Sans', sans-serif;
}

.left {
    flex-basis: 35%;
    display: flex;
    flex-flow: row;
    align-items: center;
    column-gap: 16px;
}

img.center {
    height: 7em;
}

.submit-ticket {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 24px;
    padding-right: 20px;
    width: 100%;
    height: 100%;
    color: #2d2a26;
    text-decoration: none;
}

a.submit-ticket {
    text-decoration: none !important;
}

pre code {
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 100%;
    overflow-wrap: break-word;
}

.chat-message:hover .fa-circle-xmark {
    display: block;
}


.hide {
    display: none;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden; /* Disables scroll bar */
    padding-bottom: 6rem;
    word-wrap: break-word; /* Wraps the text to next line if needed */
    white-space: normal; /* Breaks lines as necessary to fill line boxes */
}

.bottom-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* Change this from center to space-between */
    background-color: #ffffff;
    position: sticky;
    bottom: 0;
    padding: 0 20px 20px 20px;
    width: 100%; /* Add this */
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 40px); /* Subtract the navbar height (190px) */
    /* Change this from 75vh to 100vh */
    overflow: hidden;
    padding: 50px;
}

/*on off*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #d40000;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.background {
    background-image: url('../assets/background.png');
    background-repeat: repeat;
}

/* Round sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }


label {
    font-family: 'Press Start 2P';
    color: #8b8b8b;
}


.submit-button {
    background-color: #000;
    margin-left: 20px;
    margin-bottom: 20px;
}

.login-button {
    background-color: #6fbfd9;
    color: #fff;
    font-family: 'Press Start 2P';
}
.register-button {
    background-color: #000;
    color: #6fbfd9;
    font-family: 'Press Start 2P';
}

.form-control:focus{
    border-color:#acabab10;
}


ul {
    list-style-type: none;
    padding-top: 30px;
}

    ul li {
        margin-bottom: 10px;
    }

        ul li a {
            color: #6fbfd9;
            text-decoration: none;
            transition: color 0.3s ease;
        }

            ul li a::before {
                content: "";
                display: inline-block;
                width: 10px;
                height: 10px;
                background: #6fbfd9;
                margin-right: 5px;
                border-radius: 50%;
            }

            ul li a:hover {
                color: rgb(163 163 163 / 67%); /* Change to the desired hover color */
            }





/*Floppy Disk*/
.image {
    position: relative;
    left: 50%;
    top: 20%;
    margin-top: 0px;
    margin-left: -115px;
    text-align: center;
    margin-bottom:40%;
}

.floppyDisk {
    position: absolute;
    top: 70px;
    left: 70px;
    width: 100px;
    height: 105px;
    background-color: #6fbfd9;
    position: absolute;
    border: 2px solid black;
    border-radius: 2.5px 10px 2.5px 2.5px;
    box-shadow: 0 7.5px 10px -5px rgba(0,0,0,0.5);
}

    .floppyDisk:before {
        content: '';
        position: absolute;
        width: 5.5px;
        height: 5px;
        background-color: #FFFFF2;
        border: 1px solid black;
        border-radius: 1.5px;
        top: 92.5px;
        left: 1.5px;
    }

    .floppyDisk:after {
        content: '';
        position: absolute;
        width: 6px;
        height: 5px;
        background-color: #FFFFF2;
        border: 1px solid black;
        border-radius: 3.5px;
        top: 92.5px;
        left: 90px;
    }

.floppyLabel {
    position: absolute;
    width: 70px;
    height: 60px;
    border-radius: 7.5px 7.5px 0 0;
    top: 116px;
    left: 86.5px;
}

    .floppyLabel:before {
        content: '';
        position: absolute;
        width: 64px;
        height: 51px;
        background-color: #FFFFF2;
        border: 0.5px solid black;
        border-radius: 7.5px;
        top: 5px;
        left: 2.5px;
    }

    .floppyLabel::after {
        content: 'Dave';
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        word-wrap: break-word;
        font-family: 'Press Start 2P', cursive;
        width: 60px;
        font-weight: 700;
        top: 17.5px;
        left: 5.5px;
        font-size: 10px;
        line-height: 15px;
        color: #484848;
    }

.floppySlide {
    width: 67.5px;
    height: 40px;
    background-color: #484848;
    position: relative;
    border-radius: 0 0 4px 4px;
    left: 85px;
    top: 71px;
    border: 1px solid black;
}

    .floppySlide::before {
        content: '';
        width: 60px;
        height: 41px;
        background-color: lightgrey;
        position: absolute;
        border-radius: 0 0 4px 4px;
        left: 10px;
        top: -1px;
        border: 1px solid black;
        box-shadow: 0 0.5px 1.5px rgba(0,0,0,0.12), 0 0.5px 1px rgba(0,0,0,0.24);
    }

    .floppySlide:hover:before {
        left: -0.5px;
        transition: all 0.3s;
    }

    .floppySlide::after {
        content: '';
        width: 15px;
        height: 30px;
        background-color: #484848;
        border: 0.5px solid black;
        border-radius: 1px;
        position: absolute;
        left: 45px;
        top: 5px;
    }

    .floppySlide:hover:after {
        left: 35px;
        transition: all 0.3s;
    }